.burger {
    display: none;
    background-color: var(--color-accent);
    .brcont {
        max-width: 1456px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 180px;
        padding-bottom: 180px;
        .fclm {
            display: flex;
            &__col {
                &-title {

                }
                &-column {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 32px;
                    margin: 0;
                    padding: 0;
                    w
                    &--text {
                        
                    }
                    
                }
            }
            &__comp {

            }
        }
    }
}