.company {
    .cmp {
        width: 100%;
        max-width: 1456px;
        margin-right: auto;
        margin-left: auto;
        @include xxl {
            max-width: 800px;
        }
        @include lg {
            max-width: 700px;
        }
        &__text {
            &-title {
                font-size: 52px;
                font-weight: 100;
                color: var(--color-accent);
            }
            &-subtitle {
                font-size: 24px;
                color: var(--color-text);
                width: 1087px;
                padding-left: 369px;
                width: 100%;
                font-weight: 400;
                line-height: 33.6px;
            }
        }

        &__map {
            position: relative;

            &-map {
                @include xxl {
                 width: 800px;
                }
                @include lg {
                    width: 700px;
                }
            }
            .dot {
                position: absolute;
                &__text {
                    position: absolute;
                    background-color: var(--color-white);
                    gap: 10px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    box-shadow: 0px 2px 8px rgba(76, 123, 135, 0.2);
                    
                    &-title {
                        font-weight: 700;
                        font-size: 16px;
                        color: var(--color-black);
                    }
                    &-subtitle {
                        font-size: 14px;
                        color: var(--color-text);
                        font-weight: 500;
                        
                    }
                }
            }
            .dot1 {
                
               top: 190px;
               left: 130px;
                &__text {
                    width: 137px;
                    padding: 8px 12px 8px 12px;
                    top: -78px;
                    right: 18px;
                }
            }
            &-map {
                margin-top: 60px;
            }
        }
        &__link {
            display: flex;
            gap: 10px;
            align-items: center;
            &-text {
                padding-bottom: 2px;
                font-size: 18px;
                font-weight: 500;
                color: var(--color-accent);
                border-bottom: solid 1px var(--color-text);
                
            }
        }
    }
}



