.clinks {
    margin-left: auto;
    margin-right: auto;
    max-width: 1456px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .cleft {
        
        &__title {
            font-size: 26px;
            font-weight: 500;
            color: var(--color-white);
        }
        &__contacts {
            font-size: 18px;
            font-weight: 500;
            line-height: 25px;
        }
        &__mail {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &-email {
                font-size: 18px;
                font-weight: 500;
            }
        }
        &__link {
            position: relative;
            top: 30px;
            color: var(--color-accent-second);
            font-size: 16px;
            border-bottom: solid 1px var(--color-accent-second);
        }
    }
    .cright {
        margin-right: 246px;
        &__title {
            font-size: 26px;
            font-weight: 500;
            color: var(--color-white);
        }
        &__contacts {
            font-size: 18px;
            font-weight: 500;
            line-height: 25px;
        }
    }
}