.selector {
    position: relative;



    &__text {
        position: absolute;
        top: calc(-100% - 8px);
        margin-bottom: 8px;
        font-size: 14px;
        color: #9ea8ba; // Серый цвет текста
    }

    &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        // border-bottom: 1px solid #fff; // Линия под селектором
        // padding-bottom: 8px;
        cursor: pointer;
        background: transparent;
        color: #fff; // Белый текст
        position: relative;

        &-title {
            font-size: 18px;
            color: #fff; // Цвет выбранного элемента
            white-space: nowrap;       /* Запрещает перенос текста на новую строку */
            overflow: hidden;          /* Обрезает текст, выходящий за пределы блока */
            text-overflow: ellipsis;   /* Добавляет троеточие на конце обрезанного текста */
            max-width: 303px;
        }

        &-image {
            width: 16px;
            height: 16px;
            transition: transform 0.3s ease;
        }

        &.open &-image {
            transform: rotate(180deg);
        }
    }

    &__options {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        background: #fff;
        border: 1px solid #dcdcdc;
        width: 100%;
        z-index: 10;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &.open {
            display: block;
        }
    }

    &__select-option {
        padding: 10px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background: #f1f1f1;
        }
    }
}


.contact {
    background: radial-gradient(#153d9a, #0c1f4c), url('/assets/img/images/conts.jpeg'),  linear-gradient(151.59deg, #002A55 29.72%, rgba(0, 42, 85, 0) 60.06%), linear-gradient(19.11deg, #002A55 13.56%, rgba(12, 37, 94, 0) 59.08%), linear-gradient(90.27deg, #0C255E 0.46%, rgba(69, 99, 233, 0.69) 52.3%, rgba(12, 37, 94, 0.16) 99.99%), var(--color-accent);
    
    .ccont {
        padding-top: 140px;
        margin: 0;
        max-width: 1456px;
        margin-left: auto;
        margin-right: auto;
        @include xxl {
            max-width: 800px;
        }
        @include lg {
            max-width: 700px;
        }
        &__title {

            font-size: 52px;
            font-weight: 400;

        }

        &__content {
            display: flex;
            justify-content: space-between;
            .ctext {
                &__text {
                    max-width: 590px;
                    font-size: 36px;
                    font-weight: 400;
                    @include lg {
                        font-size: 24px;
                    }
                    .hero {
                        color: var(--color-accent-second);
                    }
                }
            }

            .cform {
                &__form {
                    width: 718px;
                    @include xxl {
                        width: 50%;
                    }
                    grid-template-columns: repeat(2, 1fr);
                    display: grid;
                    gap: 20px;

                    &-input {
                        margin-top: 63px;
                        background: none;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid var(--color-gray2);
                        color: var(--color-gray);
                        padding-bottom: 10px;
                        font-size: 16px;
                        font-weight: 400;
                        &::placeholder {
                            color: var(--color-gray3);
                        }
                    }
                    .message {
                        grid-column: span 2;
                    }
                }

                &__button {
                    margin-left: auto;
                    margin-top: 20px;
                    display: flex;
                    gap: 10px;
                    width: min-content;
                    &-text {
                        white-space: nowrap;       /* Запрещает перенос текста на новую строку */
                        overflow: hidden;          /* Обрезает текст, выходящий за пределы блока */
                        text-overflow: ellipsis;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                        border-bottom: solid 1px var(--color-white);

                    }
                }
            }
        }
    }


    .cfoot {
        margin-top: 100px;
        max-width: 1456px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        @include xxl {
            max-width: 800px;
        }
        @include lg {
            max-width: 700px;
        }
        .cfup {
            position: inherit;
            z-index: 3;
            border-bottom: solid 1px var(--color-white);
            padding-bottom: 26px;
            display: flex;
            justify-content: space-between;
            &__mail {
                &-title {
                    color: var(--color-accent-second);
                    font-size: 18px;
                    font-weight: 400;
                }
                &-mail {
                   font-size: 24px;
                   font-weight: 400;

                }
            }
            &__sell {
                text-align: right;
                &-title {
                    color: var(--color-accent-second);
                    font-size: 18px;
                    font-weight: 400;
                }
                &-mail {
                   font-size: 24px;
                   font-weight: 400;

                }

            }
            &__subscribe {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 14px;
                &-link {
                    border-bottom: solid 1px var(--color-white);
                    font-weight: 500;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                &-number {
                    font-size: 400;
                    font-size: 36px;
                    
                }
            }
        }
        .cfbot {
            
            margin-top: 42px;
            display: flex;
            justify-content: space-between;
            position: inherit;
            z-index: 2;
            &__likeit {
                gap: 14px;
                display: flex;
                align-items: center;
                &-text {
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 4px;
                    margin-bottom: 0;
                    
                }
                &-icon {
                    height: 20px;
                }
            }
        }
        &__title {
            position: absolute;
            top: 110px;
            z-index: 1;
            @include xxl {
                width: 800px;
                top: 160px;
            }
            @include xxl {
                width: 700px;
                top: 170px;
            }
        }
    }
}

/* XXL 2 */


