.news {

    background-color: var(--color-accent);
    
    .ncont {
        max-width: 1456px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        padding-top: 140px;
        padding-bottom: 140px;
        @include xxl {
            max-width: 800px;
        }
        @include lg {
            max-width: 700px;
        }
        @include st {
            max-width: 374px;
            padding-top: 80px;
            padding-bottom: 80px;
        }
        &__title {
            font-size: 52px;
            font-weight: 400;
            line-height: 72px;
        }
        &__news {
            display: flex;
            justify-content: space-between;
            &-image {
                width: 738px;
                height: 575px;
                @include xxl {
                    display: none;
                }
            }
            .necards {
                &__items {
                    margin-right: 58px;
                    @include st {
                        margin: 0;
                    }
                    &-item {
                        display: flex;
                        border-bottom: solid 1px var(--color-gray2);
                        padding-bottom: 5px;
                        &--title {
                            @include st {
                                font-size: 18px;
                                line-height: 25px;
                                margin-right: 0;
                            }
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 33px;
                            margin-right: 40px;
                        }
                        
                    }
                    &-link {
                        display: flex;
                        margin-top: 40px;
                        
                        &--title {
                            margin-right: 20px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 20px;
                            border-bottom: solid 1px var(--color-gray2);
                        }
                    }
                }
            }
        }
    }
}

/* XXL 2 */

