.new {
    .newsco {
        max-width: 1456px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 140px;
        margin-bottom: 140px;
        @include st {
            margin-top: 0;
            margin-bottom: 0;
        }
        @include st {
            max-width: 374px;
        }
        &__news {
            display: flex;
            flex-direction: column;
            
            border-bottom: solid 1px var(--color-gray2);
            padding-bottom: 50px;
            .necard {
                &--selected {
                    @include st {
                        border: none;
                    }
                    border-top: solid 1px var(--color-gray2);
                    border-bottom: solid 1px var(--color-gray2);
                }
                display: flex;
                @include st {
                    flex-direction: column;
                }
                padding-bottom: 50px;
                padding-top: 50px;
                
                &__image {
                    max-width: 349px;
                    max-height: 278px;
                    @include st {
                        max-height: unset;
                        max-width: unset;
                    }
                    &-picture {
                        max-width: 349px;
                        max-height: 278px;
                        object-fit: cover;
                        @include st {
                            width: 374px;
                            height: 220px;
                        }
                    }
                }
                &__date {
                    margin-left: 15px;
                    @include st {
                        margin: 0;
                    }
                    &-number {
                        margin: 0;
                        margin-top: -15px;
                        @include st {
                            display: none;
                        }
                        font-size: 84px;
                        line-height: 92px;
                        font-weight: 400;
                        color: var(--color-accent);
                    }
                    &-date {
                        @include st {
                            &:before {
                                content: "22 ";
                            }
                        }
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--color-gray3);
                    }
                }
                &__text {
                    @include st {}
                    margin-left: 73px;
                    @include st {
                        margin: 0;
                    }
                    display: flex;
                    flex-direction: column;
                    &-title {
                        @include st {
                            font-size: 18px;
                            font-weight: 600;
                        }
                        font-size: 24px;
                        margin: 0;
                        font-weight: 500;
                        color: var(--color-text);
                    }
                    &-subtitle {
                        @include st {
                            height: 80px;
                            text-overflow: ellipsis;

                        }
                        margin-top: 40px;
                        font-size: 16px;
                        color: var(--color-text);
                        font-weight: 400;
                    }
                    &-arrow {
                        @include st {
                            display: none;
                        }
                        width: 14px;
                        height: 14px;
                        margin-left: auto;
                        margin-top: auto;
                    }
                }
            }

            &-button {
                @include st {
                    display: none;
                }
                display: flex;
                justify-content: center;
                color: var(--color-text);
                margin-top: 60px;
                border: solid 1px var(--color-gray2);
                padding-top: 20px;
                padding-bottom: 20px;
                font-weight: 500;
            }
        }
    }

}