.offer {
    .ofcont {
        max-width: 1456px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 140px;
        margin-bottom: 140px;
        @include xxl {
            max-width: 820px;
        }
        @include lg {
            max-width: 576px;
        }
        @include st {
            max-width: 374px;
        }
        &__title {
            @include st {
                font-size: 36px;
            }
            font-size: 52px;
            font-weight: 400;
            color: var(--color-accent);
        }
        .ofcards {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            @include xxl {
                grid-template-columns: repeat(1,1fr);
            }
            @include st {
                display: flex;
                flex-direction: column;
            }
            gap: 20px;
            &__card {
                min-width: 472px;
                min-height: 374px;
                @include st {
                    min-width: 374px;
                    min-height: 110px;
                    width: 374px;
                    height: 110px;
                    border-radius: 4px;
                }
                background: linear-gradient(135deg, #09325B 0%, rgba(69, 99, 233, 0.3) 100%), #09325B;
                &-text {
                    @include st {
                        margin: 0;
                        padding: 30px;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25px;
                    }
                    margin-left: 40px;
                    margin-top: 226px;
                    max-width: 346px;
                    font-size: 26px;
                    line-height: 36px;
                    font-weight: 500;
                }
            }
            .ofphoto1 {
                background-image: url('/assets/img/images/offer/airport.jpg');
                background-position: center;
                background-size: cover;
            }
            .ofphoto2 {
                background-image: url('/assets/img/images/offer/airport2.jpg');
                background-position: center;
                background-size: cover;
            }
            .ofphoto3 {
                background-image: url('/assets/img/images/offer/airport3.jpg');
                background-position: center;
                background-size: cover;
            }
            .ofphoto {
                @include st {
                    display: none;
                }
            }
        }
    }
}


