.partners {
    margin-top: 140px;
    margin-bottom: 140px;
    .pcont {
        width: 100%;
        max-width: 1456px;
        margin-right: auto;
        margin-left: auto;
        @include xxl {
            max-width: 800px;
        }
        @include lg {
            max-width: 700px;
        }
        @include st {
            max-width: 374px;
        }
        &__text {
            &-title {
                font-weight: 400;
                font-size: 52px;
                color: var(--color-accent);
            }
            &-subtitle {
                font-size: 24px;
                font-weight: 400;
                line-height: 33px;
                color: var(--color-text);
                width: 1086px;
                @include xxl {
                    width: unset;
                }
                @include st {
                    margin-left: 0;
                    font-size: 18px;
                    line-height: 25px;
                }
                margin-left: 369px;
                margin-top: 49px;
            }
        }

        &__nav {
            display: flex;
            color: var(--color-accent);
            margin-top: 60px;
            gap: 54px;
            @include fullhd {
                justify-content: space-between;
                gap: unset;
            }
            @include xxl {
                gap: 20px;
                justify-content: space-between;
            }
            &-item {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: var(--color-gray4);
                @include xxl {
                    font-size: 12px;
                }
                @include lg {
                    font-size: 10px;
                }
                @include st {
                    font-size: 18px;
                }
            }
            .highlited {
                color: var(--color-accent);
                border-bottom: 3px solid;
                @include st {
                    
                }
            }
        }

        &__col {
            margin-top: 40px;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
            grid-template-rows: repeat(2,1fr);
            display: grid;
            position: relative;
            @include st {
                grid-template-columns: repeat(2,1fr);
            }

            &-item {
                
                min-height: 349px;
                @include st {
                    min-height: 182px;
                    
                    min-width: 182px;
                }
                &--image {
                    @include st {
                        max-width: 100px;
                    }
                    margin-left: auto;
                    margin-right: auto;
                }
                background-color: var(--color-gray1);
            }
            .it2 {
                grid-column: span 1;
                height: 349px;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                @include st {
                    height: unset;
                    
                    
                }
            }
            .it3 {
                grid-column: span 1;
                height: 349px;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                @include st {
                    height: unset;
                }
            }
            .it4 {
                grid-column: span 1;
                height: 349px;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                @include st {
                    height: unset;
                    grid-row: 4;
                }
            }
            .it1 {
                background-image: url(/assets/img/images/chemistry.jpeg);
                background-position: center;
                background-size: cover;
                
                grid-column: span 2;
                @include st {
                    height: 182px;
                }
                
            }
            .it5 {
                grid-column: span 2;
                height: 349px;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                @include st {
                    height: unset;
                    grid-column: span 2;
                }
            }       
            .it6 {
                background-color: var(--color-accent-second);
                display: flex;
                align-items: center;
                max-width: 349px;
                @include st {
                    max-height: 182px;
                }
                gap: 10px;
                




                // .pcont__col-item--text {
                    
                    
                // }
                // .pcont__col-item--image {
                //     filter:hue-rotate(120deg);
                //     filter: brightness(80%);
                    
                // }
            }
            .bubilda {
                gap: 10px;
                margin-left: auto;
                display: flex;
                margin-top: 294px;
                @include st {
                    position: absolute;
                    right: 12%;
                }
                &__mobile {
                    margin-right: 30px;
                }
                &__image {
                    
                        display: none;
                    
                }
                &__text {
                    font-size: 18px;
                    font-weight: 500;
                    border-bottom: solid 1px var(--color-accent);
                    color: var(--color-accent);
                }   
            }
            
        }

    }
}