.scont {
    margin-top: 140px;
    &__top {
        min-height: 136px;
        padding-top: 40px;
    }
    &__bottom {
        background: 
        radial-gradient(circle, rgba(21, 54, 131, 0.9) 0%, rgba(12, 37, 94, 1) 100%), /* Градиент */
        url("/assets/img/images/containers.jpg"),; /* Ссылка на изображение */
        background-position: center;
        background-size: cover;
        .serv {
            max-width: 1456px;
            margin-right: auto;
            margin-left: auto;
            @include xxl {
                max-width: 800px;

            }
            @include lg {
                max-width: 700px;
            }
            @include st {
                max-width: 374px;

            }
            &__image {
                display: flex;
                position: relative;
                top: -95px;

                @include xxl {
                    width: 800px;
                    top: -60px;
                }
                @include lg {
                    width: 700px;
                }
                @include st {
                 width: 414px;
                 top: -25px;
                 right: 22px;   
                }
            }
            &__text {
                &-title {
                    font-size: 52px;
                    line-height: 72px;
                    font-weight: 400;
                    margin-top: -40px;
                    @include st {
                        font-size: 36px;
                        margin-top: 30px;
                    }

                }
                &-subtitle {
                    font-size: 24px;
                    width: 1087px;
                    line-height: 33px;
                    font-weight: 400;
                    margin-left: 369px;
                    @include xxl {
                        width: unset;
                    }
                    @include st {
                        margin-left: 0;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
            &__link {
                
                display: flex;
                gap: 10px;
                width: max-content;
                margin-left: auto;

                &-title {
                    font-weight: 500;
                    border-bottom: solid 1px var(--color-white);
                }
                
            }
            &__scroll {
                .scrcards {
                    display: flex;
                    gap: 20px;
                    @include st {}
                    &__card {
                        margin-bottom: 50px;
                        position: relative;
                        &-image {
                            @include st {
                                max-width: 312px;
                                max-height: 231px;
                            }
                        }
                        &-text {
                            margin: 0;
                            position: absolute;
                            top: 268px;
                            left: 40px;
                        }
                    }

                }
                &__slidebar {
                    display: block;
                    width: calc(100% - 40px);
                    max-width: 1456px;
                    height: 4px;
                    border-radius: 5px;
                    background: #285197;
                    position: absolute;
                    z-index: 10;
                    left: 50%;
                    bottom: 140px;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    
                }
            }
        }
    }
}

/* XXL 2 */



